<h1><a href="<%= "/##{@image.id}" %>">cat</a></h1>
<%= image_tag "http://#{request.raw_host_with_port}/#{ @image.id}.jpg", :style=>"float:right;" %>
<div style="text-align:left;">
<iframe src="http://www.facebook.com/plugins/like.php?app_id=255908937773022&amp;href=<%= u("http://cat.aileron.cc/#{@image.id}.html") %>&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90" 
    scrolling="no" 
    frameborder="0" 
    style="border:none; overflow:hidden; width:100px; height:90px;" 
    allowTransparency="true"></iframe>
<a href="https://service.webmoney.jp/wtw/5864688" target="_blank">
<img src="https://www.webmoney.jp/kanpa/btn_kanpa_I2.gif" alt="WebMoney ぷちカンパ" style="border: none;" />
</a>
</div>
