<%= render 'image' %>

<div class="contents" style="text-align:center">
  <%= button_to "reload", { :action=> :reload }, :remote => true %>
</div>

<script>
  $(function()
  {
    var authenticity_token = $('meta[name="csrf-token"]').attr('content');
    var get = function()
    {
      $.get("/" + window.location.hash.substring(1) + ".js",{'authenticity_token': authenticity_token}, function(js)
      {
        eval(js);
      });
    };

    $(window).bind("hashchange", get);
    if(window.location.hash)
    {
      get();
    }
    else
    {
      window.location.href = "#<%= @image.id %>" ;
    }
  });
</script>
