
<div id="image" class="contents" style="text-align:center; height:280px">
  <%= render 'image' %>
</div>

<div class="contents" style="text-align:center">
  <%= button_to "reload", { :action=> :reload } %>
</div>
